#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center;
    margin: 0 auto ;

}
.skillsTitle{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem ;
    padding-top: 3rem ;
}
.skillDescription{
    font-size: 1rem;
    font-weight: 300;
    max-width: 50rem;
    padding: 0 2rem;
    margin-bottom: 1.5rem ;

}
.skillBars{
    margin: 0.75rem 0;
    text-align: left;
    max-width: 80%;

}
.skillBar{
    background-color: rgb(61 61 61);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 2rem auto ;
    padding: 0.75rem ;
    border-radius: 0.5rem;
}
.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width:3rem;
    margin-right: 1.5rem;
}
.skillBarText{
    font-size: 0.9rem;
    font-weight: 300;
   margin-left: 0px;
}

@media screen and (max-width:480px){
    .skillBarTex > p {
        font-size: 2vw;
    }
    .skillBarImg{
        height: 2.24rem;
        width: 2.24rem;
    }
    .skillBarTex > h1{
        font-size: medium;
    }

}